version: 2.1
#testing
orbs:
  tbp: townerhale/tbp-orb-test@dev:alpha

workflows:
  test-buildx-cache:
    jobs:
      - tbp/build-docker-amd:
          repo: dlc-test
          app_version: v1.0.0
          extra_build_args: "--cache-from type=registry,ref=${AWS_ECR_REGISTRY_ID}.dkr.ecr.us-east-1.amazonaws.com/dlc-test:cache --cache-to type=registry,ref=${AWS_ECR_REGISTRY_ID}.dkr.ecr.us-east-1.amazonaws.com/dlc-test:cache,mode=max"
          context:
            - aws-ecr