version: 2.1

orbs:
  tbp: townerhale/tbp-orb-test@dev:alpha

workflows:
  test-buildx-cache:
    jobs:
      - tbp/build-docker-amd:
          repo: dlc-test
          app_version: v1.0.0
          dockerfile: Dockerfile.test
          extra_build_args: "--cache-from type=registry,ref=${AWS_ECR_REGISTRY_ID}.dkr.ecr.us-west-2.amazonaws.com/dlc-test:latest"
          context:
            - aws-ecr